<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello</h1>
<a href="/college/busregister/"><h2  >click here for bus registeration</h2></a>
<a href="/college/mail/" ><h2  >click here for Parents mail registeraion</h2></a>
<a href="/college/morning/"><h2  >click here to take Morning Bus Attendance </h2></a>
<a href="/college/evening/"><h2  >click here to take Evening Bus Attendance </h2></a>
<a href="/college/display/"><h2   >click here for Attendance Display </h2></a>
<a href="/college/maildisplay/"><h2   >click here for Parents Mail Display </h2></a>


</body>
</html>